* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
    font-family: 'Segoe UI';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 24vh;

    h1 {
        margin: 20px;
    }
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .right {
        .article {
            width: 100%; 
            margin-left: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    .window {
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 25px 0;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);

        .tags-container {
            background-color: #fff;
            padding: 25px 15px;
            display: flex;
            flex-wrap: wrap;

            span {
                background-color: #ccc;
                padding: 3px 10px;
                font-weight: 400;
                margin: 5px 3px;

                &:first-child {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        h2 {
            margin: 20px 0;
            padding-left: 15px;
            font-weight: 500;
        }

        .post {
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            padding-left: 15px;
            border-bottom: 0.1mm solid #ccc;
            background-color: #fff;

            img {
                width: 10%;
                padding-right: 25px;
            }

            h4 {
                font-weight: 500;
                font-size: 1.2rem;
            }

            span {
                font-weight: 300;
            }
        }
    }

    .article {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
        margin: 25px;
        position: relative;

        .article-image-container {

            img {
                width: 100%;
            }
        }

        .content {
            padding: 10px;

            h2 {
                margin: 15px 0;
                text-transform: uppercase;
                font-size: 2rem;
            }
    
            span {
                font-size: 1em;
                font-weight: 300;
                color: #494949;
                strong {
                    color: #000;
                }
            }
    
            p {
                font-size: 1rem;
                margin: 20px 0;
                color: #494949;
            }

            button {
                background-color: transparent;
                border: 1px solid #ccc;
                padding: 5px 10px;
                font-size: 16px;
                transition: all 0.1s ease-in-out;

                &:hover {
                    background-color: #ccc;
                }
            }
        }
    }
}

footer {
    height: 24vh;
    background-color: #616161;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;

    button {
        padding: 10px 20px;
        &:first-child {
            background-color: #525252;
            border: none;
            outline: none;
        }
    }

    span {
        color: white;
    }
}